html, body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

table {
	border-collapse: collapse;
/* 	border-bottom: 1px solid gray; */
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

table.spittersTable {
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

table.spittersTable th {
	border-bottom: 1px solid gray;
	background: #09c332;
	padding: 10px;
	color: #FFFFFF;
	text-align: left;
}

table.spittersTabletr {
	border-top: 1px solid gray;
	text-align: left;
}

table.spittersTable td {
	padding: 10px;
}

table.spittersTable tr:nth-child(even) {
	background: #FFFFFF
}

table.spittersTable tr:nth-child(odd) {
	background: #BBBBBB
}

table.spittersTable tr:hover {
	background-color: #f5f5f5
}

.spitter {
	overflow-x: auto;
}

/* table.spittle tr:nth-child(4n+4) > td{ */
/* 	height:10px; */
/* 	background:transparent; */
/* } */

/* this will go to the 2nd column of a table directly  */
/* table td+td { */
/* 	background: red */
/* } */