.tilesHeader{
	height:300px;
	border:solid pink 1px;
	background: red;
}

.tilesLeft{
	float:left;
}

.tilesBody{
	float:left;
}

.tilesRight{
	float:left
}

.tilesFooter{
	clear:both;
}