html, .container {
	height: 100%;
}

body {
	background: green;
/* 	margin:0 auto 0 auto; */
}

.wrap{
	width: 1200px;
/* 	float:left; */
/* 	height:auto; */
	margin:0 auto 0 auto;
}
.center {
	min-height: 800px; height : 100%;
	background: aqua;
	overflow: hidden;
	height: 100%;
	margin: 0 auto 0 auto;
/* 	margin:5px; */
}

.tilesHeader {
	height: 100px;
	border: solid pink 2px;
	margin: 5px;
	padding: 4px;
	background: red;
}

.tilesLeft {
	width: 167px;
	min-height: 800px;
	height: 100%;
	border: solid pink 2px;
	margin: 5px;
	padding: 4px;
	background: orange;
	float: left;
	background: orange;
	overflow: auto;
}

.tilesBody {
	width: 700px;
	min-height: 800px;
	overflow: auto;
	border: solid pink 2px;
	margin: 5px;
	padding: 4px;
	float: left;
	margin: 5px;
	border: solid pink 2px;
}

.tilesRight {
	width: 267px;
	min-height: 800px;
	height: 100%;
	border: solid pink 2px;
	margin: 5px;
	padding: 4px;
	background: yellow;
	position: relative;
	float: right;
}

.tilesFooter {
	height: 200px;
	border: solid pink 2px;
	margin: 5px;
	padding: 4px;
	background: blue;
	clear: both;
}